@using LXxUS.Models.ViewModel
@model IEnumerable<AccountVM>
<partial name="_Notification" />
<div class="row pt-4 pb-4">
	<div class="col-9">
		<h2>List of Customer account</h2>
	</div>
	<div class="btn-group">
		<button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			Role
		</button>
		<ul class="dropdown-menu">
			<form method="get">
			<li>
				<input type="hidden" name="sort" value="Customer" />
				<button type="submit" class="dropdown-item">Customer</button>
			</li>
			</form>
			<form method="get">
			<li>
				<input type="hidden" name="sort" value="StoreOwner" />
				<button type="submit" class="dropdown-item">Store Owner</button>
			</li>
			</form>
			<form method="get">
			<li>
				<input type="hidden" name="sort" value="Admin" />
				<button type="submit" class="dropdown-item">Admin</button>
			</li>
			</form>
		</ul>
	</div>
</div>
<div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Email</th>
				<th>Full Name</th>
				<th>Home Address</th>
				<th>Phone Number</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var account in Model)
			{
				<tr>
					<td>@account.User.Email</td>
					<td>@account.User.Name</td>
					<td>@account.User.StreetAddress</td>
					<td>@account.User.PhoneNumber</td>
					<td>
						@foreach (var role in account.Roles)
						{
							@role
						}
					</td>
					<td>
						<a asp-controller="Account" asp-action="ChangePassword" asp-route-id="@account.User.Id" class="btn btn-primary"><i class="bi bi-pencil"></i> Reset Password</a>
					</td>
					<td>
						<div class="btn-group">
							<button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
								Assign Role
							</button>
							<ul class="dropdown-menu">
								@using (Html.BeginForm("AssignRole", "Account"))
								{
									<li>
										<input type="hidden" name="userId" value="@account.User.Id" />
										<input type="hidden" name="newrole" value="Customer" />
										<button type="submit" class="dropdown-item">Customer</button>
									</li>
								}
								@using (Html.BeginForm("AssignRole", "Account"))
								{
									<li>
										<input type="hidden" name="userId" value="@account.User.Id" />
										<input type="hidden" name="newrole" value="StoreOwner" />
										<button type="submit" class="dropdown-item">Store Owner</button>
									</li>
								}
								@using (Html.BeginForm("AssignRole", "Account"))
								{
									<li>
										<input type="hidden" name="userId" value="@account.User.Id" />
										<input type="hidden" name="newrole" value="Admin" />
										<button type="submit" class="dropdown-item">Admin</button>
									</li>
								}
							</ul>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>