@model ShoppingCart

<form method="post">
    <input hidden asp-for="BookId" />
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient text-dark p-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-dark text-uppercase">@Model.Book .Title</h3>
                    <p class="text-dark-50 fw-semibold mb-0">by @Model.Book.Author</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">

                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                        <img src="@Model.Book.ImageUrl" width="100%" class="rounded" alt="Book Cover" />
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <div class="row pb-4">
                            <div class="col-12 col-md-6">
                                <span class="badge bg-primary text-white">@Model.Book.Category.Name</span>
                            </div>
                        </div>

                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50 pb-2">
                                Price:
                                <span class="text-bg-dark">@Model.Book.Price.ToString("c")</span>
                            </h6>
                        </div>

                        <div class="row p-lg-2 my-3">
                            <p class="text-secondary lh-sm">@Model.Book.Description</p>
                        </div>
                        <div class="row p-lg-2 mb-3">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary text-white border-0 fw-semibold" id="inputGroup-sizing-default">
                                        Count
                                    </span>
                                    <input asp-for="@Model.Count" type="number" value="1" class="form-control text-end" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-lg-1 pb-1 d-flex justify-content-center align-items-center">
                        <!-- Thay đổi dòng này -->
                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-3 fw-semibold btn-sm text-uppercase me-2">
                            <small>Back to homepage</small>
                        </a>
                        <button type="submit" class="btn btn-primary bg-gradient mb-3 fw-semibold btn-sm text-uppercase">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
