@model List<Book>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h1>Product List</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Book" asp-action="UpSert" class="btn btn-success rounded-pill px-3">
                <i class="bi bi-plus-circle"></i> New Product
            </a>
        </div>
    </div>

   @*  Partial được sử dụng để hiển thị một "partial view" có tên là "_Notification" trong trang chính của bạn.
    Một "partial view" trong ASP.NET Core là một phần nhỏ của HTML có thể được sử dụng lại và đưa vào các trang khác nhau *@
    <partial name="_Notification"/> @* _Notification ở folder share *@
    
    <table id="tblData1" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Book title</th>
                <th scope="col">Description</th>
                <th scope="col">Author</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
           @*  @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Id</td>
                    <td>@obj.Title</td>
                    <td>@obj.Description</td>
                    <td>@obj.Author</td>
                    <td>@obj.Price</td>
                    <td>@obj.Category.Name</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Book" asp-action="UpSert" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Book" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-delete mx-2">
                                <i class="bi bi-trash3"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            } *@
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/book.js"></script>
}

